@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "OpenSans", "Arial", sans-serif;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
}

.double-gradient {
    background: -webkit-linear-gradient(219deg, rgba(209, 240, 245, 0.8), rgba(255, 0, 0, 0) 35.71%), -webkit-linear-gradient(323deg, rgba(228, 249, 234, 0.8), rgba(0, 255, 0, 0) 35.71%);
    background: -o-linear-gradient(219deg, rgba(209, 240, 245, 0.8), rgba(255, 0, 0, 0) 35.71%), -o-linear-gradient(323deg, rgba(228, 249, 234, 0.8), rgba(0, 255, 0, 0) 35.71%);
    background: linear-gradient(231deg, rgba(209, 240, 245, 0.8), rgba(255, 0, 0, 0) 35.71%), linear-gradient(127deg, rgba(228, 249, 234, 0.8), rgba(0, 255, 0, 0) 35.71%);
}

.blue-gradient {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255,255,255)), color-stop(10%, transparent), to(rgba(156,193,255,.3)));
    background-image: -webkit-linear-gradient(right, rgba(255,255,255), transparent 10%, rgba(156,193,255,.3));
    background-image: -o-linear-gradient(right, rgba(255,255,255), transparent 10%, rgba(156,193,255,.3));
    background-image: linear-gradient(270deg, rgba(255,255,255), transparent 10%, rgba(156,193,255,.3));
}

.green-gradient {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255)), color-stop(18%, transparent), to(rgba(134,255,157,.3)));
    background-image: -webkit-linear-gradient(left, rgba(255,255,255), transparent 18%, rgba(134,255,157,.3));
    background-image: -o-linear-gradient(left, rgba(255,255,255), transparent 18%, rgba(134,255,157,.3));
    background-image: linear-gradient(90deg, rgba(255,255,255), transparent 18%, rgba(134,255,157,.3));
}

.elem {
    margin: 0 auto;
    padding: 20px;
    max-width: 1440px;
}

@media (min-width: 768px) {
    .elem {
        padding: 30px;
    }
}

.main-header {
    width: 100%;
    position: fixed;
    z-index: 11;
    padding: 10px 20px;
    padding-bottom: 0;
    background: #fff;
}

.main-header__img-wr {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .main-header__img-wr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding: 0;
        width: auto;
        margin: 0;
    }

    .main-header {
        border-bottom: 2px solid #efefef;
        padding: 0 50px;
    }
}

@media (min-width: 1024px) {
    .main-header {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .main-header-wr {
        max-width: 1024px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        min-height: 84px;
    }
}

@media (min-width: 1024px) {
    .main-header {
        padding: 10px 10px 0;
    }

    .main-header__img-wr {
        width: 380px;
        margin: 0 0 auto 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .main-navigation {
        width: 99%;
    }
}

.logo {
    text-decoration: none;
}

.logo-image {
    width: 70%;
}

.logo-desc {
    display: block;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
}

@media (min-width: 365px) {
    .logo-desc {
        font-size: 14px;
    }
}

@media (min-width: 465px) {
    .logo-desc {
        font-size: 16px;
    }
}

@media (min-width: 565px) {
    .logo-desc {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .logo-image {
        width: 280px;
    }

    .logo-desc {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .logo-image {
        height: 56px;
        margin-top: -10px;
    }
}

.messengers {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 184px;
    max-width: 320px;
    margin: 0 auto 20px;
    padding: 0;
}

.messengers__connect {
    margin: 0;
    text-align: center;
    width: 100px;
}

.messengers__vk, .messengers__instagram, .messengers__whatsapp {
    margin-right: 8px;
}

.messengers__instagram {
    margin-left: 3px;
}

.messengers__telegram {
    margin-right: 10px;
}

.messengers__link {
    font-size: 38px;
    position: relative;
}

.messengers__link span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.messengers__link svg {
    position: relative;
    z-index: 10;
}

.fa-instagram {
    color: #bf4d89;
}

.fa-vk {
    color: #4a76a8;
}

.fa-whatsapp {
    color: #3ce34b;
}

.fa-telegram-plane {
    color: #3cbae2;
}

.messengers__instagram span {
    background-color: #bf4d89;
}

.messengers__vk span {
    background-color: #4a76a8;
}

.messengers__whatsapp span {
    background-color: #3ce34b;
}

.messengers__telegram span {
    background-color: #3cbae2;
}

.messengers__link:hover svg, .messengers__link:focus svg {
    color: #fff;
}

.messengers__link:hover span, .messengers__link:focus span {
    width: 46px;
    height: 46px;
    border-radius: 2.6rem;
    margin: -23px;
}

.messengers__link[title="Telegram"]:hover span, .messengers__link[title="Telegram"]:focus span {
    margin: -23px -23px -23px -21px;
}

.messengers_call-button {
    width: 174px;
    padding: 8px 0;
    border: none;
    background: #5b9bd5;
    display: block;
    margin-right: 6px;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

@media (min-width: 768px) {
    .messengers {
        margin: 0 0 0 auto;
        max-width: 340px;
        width: 190px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .messengers__link {
        font-size: 40px;
    }

    .messengers__link:hover span, .messengers__link:focus span {
        width: 50px;
        height: 50px;
        border-radius: 2.6rem;
        margin: -25px;
    }

    .messengers__link[title="Telegram"]:hover span, .messengers__link[title="Telegram"]:focus span {
        margin: -25px -25px -25px -23px;
    }
}

.desc {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #6d6d6d;
}

.desc__info {
    font-weight: 400;
    text-transform: none;
    font-size: 11px;
    display: block;
}

@media (min-width: 768px) {
    .desc {
        margin: 30px auto;
        color: #8a8a8a;
    }
}

@media (min-width: 1024px) {
    .desc {
        font-size: 22px;
        margin: 10px auto 30px;
    }

    .desc__info {
        font-size: 16px;
    }
}

@media (min-width: 1140px) {
    .main-header-wr {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 1400px;
        padding: 0 40px;
    }
}

.show-nav {
    width: 50px;
    height: 5px;
    background: #b9b9b9;
    border: none;
    margin: 15px 0;
    position: absolute;
    top: 18px;
    right: 0px;
}

.show-nav::before, .show-nav::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 5px;
    background: #b9b9b9;
}

.show-nav::before {
    top: -12px;
}

.show-nav::after {
    bottom: -12px;
}

@media (min-width: 768px) {
    .show-nav {
        display: none;
    }
}

.main-menu {
    display: none;
    list-style: none;
    width: 100%;
    background-color: rgba(162, 162, 162, 0.1);
    margin: 0;
    padding: 0;
}

.main-menu__link {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #71b6c3;
    font-weight: 700;
}

.main-menu__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
    .main-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background: none;
        padding: 0;
    }

    .main-menu__item {
        border: none;
        font-weight: 400;
    }
}

@media (min-width: 1024px) {
    .main-menu {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-left: 40px;
        font-size: 18px;
        margin-bottom: 14px;
    }
}

.page-main {
    padding-top: 100px;
}

@media (min-width: 430px) {
    .page-main {
        padding-top: 240px;
    }
}

@media (min-width: 530px) {
    .page-main {
        padding-top: 270px;
    }
}

@media (min-width: 630px) {
    .page-main {
        padding-top: 290px;
    }
}

@media (min-width: 768px) {
    .page-main {
        padding-top: 94px;
    }
}

.slider img {
    max-width: 100%;
}

.support {
    min-height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 0 20px;
    max-width: 400px;
    margin: 30px auto 40px;
    background: #fff;
}

.support h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #848484;
}

.support p {
    text-align: center;
}

.support input {
    width: 100%;
    height: 30px;
    border: 1px solid #afafaf;
}

.support textarea {
    width: 100%;
    min-height: 70px;
    border: 1px solid #afafaf;
}

.support label {
    display: block;
    padding: 10px;
}

.support-btn {
    width: 174px;
    padding: 8px 0;
    margin: 20px auto;
}

@media (min-width: 768px) {
    .support {
        max-width: 360px;
    }
}

@media (min-width: 768px) {
    .support {
        height: 100%;
    }
}

.brands {
    display: none;
}

.media-wr {
    padding: 0 0 1px;
}

.btn {
    background: #6eaae0;
    display: block;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: none;
    letter-spacing: 1px;
}

.catalog__wr {
    margin: 0 auto 30px;
}

.catalog__popular {
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .catalog__popular {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 40px auto;
    }

    .catalog__wr {
        min-width: 310px;
        padding-left: 20px;
    }
}

@media (min-width: 1024px) {
    .catalog {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        max-width: 1024px;
        margin: 0 auto;
    }
}

.popular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 320px;
    outline: 1px solid #e2e2e2;
    padding: 8px;
    background: #fff;
}

.popular:not(last-child) {
    margin: 0 auto 30px;
}

.popular__order-btn {
    margin: 14px auto 0px;
    padding: 8px 16px;
}

.popular h2 {
    font-size: 18px;
    text-align: center;
}

.popular p {
    text-align: center;
}

.popular__algorithm {
    color: #6d6d6d;
    font-weight: 700;
}

.popular img {
    display: block;
    margin: 0 auto;
}

.popular__table {
    font-size: 14px;
    margin: 0 auto;
}

.popular__table tr {
    height: 30px;
}

.popular__table tr td:nth-child(1) {
    font-weight: 700;
}

.popular__table tr td:nth-child(2) {
    text-align: right;
    white-space: nowrap;
}

.catalog__list {
    text-align: center;
}

.catalog__list ul {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}

.catalog__list a {
    text-decoration: none;
    color: #5b9bd5;
    position: relative;
    font-weight: 700;
}

.catalog__list li {
    padding: 7px;
}

.catalog__list p {
    font-size: 16px;
    font-weight: 700;
    padding-top: 36px;
    margin: 0;
    color: #6d6d6d;
}

.catalog__preview {
    min-height: 220px;
    background-image: url("../img/price-bg.png");
    background-size: cover;
    background-position: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
}

.catalog__preview ul {
    list-style: none;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 30px 10px 10px;
    max-width: 240px;
    border: 1px solid #3f83c1;
}

.catalog__preview ul li:first-child {
    margin-bottom: 10px;
}

.catalog__preview ul li {
    text-transform: uppercase;
    font-weight: 700;
    color: #3f83c1;
}

.catalog__price-btn {
    text-decoration: none;
    padding: 8px;
    text-align: center;
    width: 178px;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .catalog__list {
        text-align: left;
        margin-right: auto;
    }

    .catalog__list p {
        margin-bottom: 26px;
        font-size: 22px;
    }

    .catalog__list li {
        padding-bottom: 16px;
    }

    .catalog__preview {
        margin: 0;
        min-width: 284px;
        max-height: 278px;
        margin-right: auto;
    }
}

.btn-to-calc {
    margin: 0 auto;
    padding: 8px 14px;
    line-height: 22px;
}

.btn-to-calc-wr {
    padding: 30px 0 14px;
}

@media (min-width: 1024px) {
    .btn-to-calc {
        padding: 8px 80px;
    }
}

@media (min-width: 768px) {
    .top-block {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .popular {
        width: 320px;
    }
}

@media (min-width: 1024px) {
    .top-block {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.features {
    list-style: none;
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
}

.features h3 {
    font-size: 18px;
    color: #6d6d6d;
}

.features p {
    font-size: 16px;
    padding: 0 20px;
    line-height: 26px;
    color: #a7a7a7;
    font-weight: 700;
}

.features li {
    margin-bottom: 46px;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-position: top center;
}

.features__delivery {
    background-image: url("../img/icon1-delivery.png");
}

.features__guarantees {
    background-image: url("../img/icon2-guarantees.png");
}

.features__treaty {
    background-image: url("../img/icon3-treaty.png");
}

.features__tech-reliability {
    background-image: url("../img/icon4-reliability.png");
}

@media (min-width: 768px) {
    .features {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 50px 0 0px;
        margin: 0 auto;
    }

    .features li {
        width: 224px;
    }

    .features__tech-reliability {
        margin: 0 auto 46px;
    }
}

.own-features__text {
    text-align: center;
    color: #71b6c3;
    text-transform: uppercase;
    margin: 0;
    padding: 70px 0 40px;
}

.own-feature__item h3 {
    font-size: 18px;
    text-align: center;
    color: #6d6d6d;
}

.own-feature__item p {
    font-size: 16px;
    padding: 0 20px;
    text-align: center;
    line-height: 26px;
    color: #a7a7a7;
    font-weight: 700;
}

.own-feature__item {
    margin-bottom: 46px;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-position: top center;
}

.own-feature__item--experience {
    background-image: url("../img/icon5-experience.png");
}

.own-feature__item--reliability {
    background-image: url("../img/icon6-hands.png");
}

.bitnews, .meetup {
    text-align: center;
    color: #6d6d6d;
    font-weight: 700;
    padding: 0 20px;
}

.bitnews a {
    color: #71b6c3;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.meetup a {
    color: #71b6c3;
    text-decoration: none;
    font-weight: 700;
}

@media (min-width: 1024px) {
    .own-feature__wr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 900px;
        margin: 0 auto;
    }

    .own-feature__item p {
        font-size: 18px;
    }

    .own-feature__item h3 {
        font-size: 20px;
    }

    .bitnews {
        font-size: 20px;
        margin: 30px 0 44px 0;
    }

    .meetup {
        font-size: 20px;
    }

    .features__tech-reliability {
        margin: 0 0 46px;
    }
}

.sofr-features__item {
    background: #c5def5;
    width: 280px;
    margin: 20px auto;
    text-align: center;
    border-radius: 16px;
    padding: 25px 10px;
}

.sofr-features__item p {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.sofr-features__item h3 {
    color: #6a9ece;
    margin: 0 0 22px 0;
    font-size: 24px;
}

@media (min-width: 768px) {
    .soft-features {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.products {
    margin: 0 auto;
    padding: 50px 0 20px;
}

.products img {
    display: block;
    margin: 0 auto;
}

.products h2 {
    text-align: center;
    text-transform: uppercase;
    color: #6d6d6d;
}

.products__data-steps, .products__data-features {
    list-style: decimal;
}

.products__data-features li, .products__data-steps li {
    margin-bottom: 20px;
}

.products__desc {
    display: none;
}

.products__open-btn {
    margin: 10px auto 30px;
    padding: 8px 18px;
}

@media (min-width: 768px) {
    .products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .products {
        padding: 50px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .products__open-btn {
        display: none;
    }

    .products__item {
        width: 420px;
        position: relative;
        background: #fbfbfb;;
    }

    .products__item:last-of-type {
        margin: 0 auto;
    }

    .products__item:hover {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        z-index: 13;
    }

    .products__item:hover .products__desc {
        display: block;
        position: absolute;
        top: 66px;
        left: 15px;
        color: #fff;
        padding: 0 15px 0 10px;
    }

    .products__item:hover .products__color-wr {
        height: 314px;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, .6);
    }

    .products__title, .products__title {
        margin: 16px 0 6px 0;
        font-size: 12px;
    }

    .products__data-steps, .products__data-features {
        font-size: 10px;
        padding: 0;
        margin: 0;
    }

    .products__item p {
        font-size: 10px;
        margin: 5px 0;
    }

    .products__data-steps li, .products__data-features li {
        margin-bottom: 3px;
        margin-left: 22px;
    }

}

@media (min-width: 1420px) {
    .products__item:last-of-type {
        margin: 0;
    }
}

.services {
    background-image: url("../img/bitcoins.jpeg");
    background-size: cover;
    background-position: top;
    color: #6d6d6d;
}

.about-us__features-list {
    list-style: none;
    padding: 0;
    margin: 20px auto;
}

.about-us__comission {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;

}

.about-us__features-list li {
    width: 280px;
    text-align: center;
    margin: 0 auto 40px;
    padding-top: 80px;
    line-height: 26px;
    color: #a7a7a7;
    font-weight: 700;
}

.about-us__features-list li:first-of-type {
    background: url("../img/icon7-security.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.about-us__features-list li:nth-of-type(2) {
    background: url("../img/icon8-rise.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.about-us__features-list li:nth-of-type(3) {
    background: url("../img/icon9-associate.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.about-us__features-list li:nth-of-type(4) {
    background: url("../img/icon10-profi.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.about-us__title {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin: 40px 0 50px;
    color: #6d6d6d;
}

.about-us__stages-list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.about-us__stages-list li {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 768px) {
    .about-us__title {
        font-size: 30px;
        margin: 50px 0 60px;
    }

    .about-us__comission {
        font-size: 22px;
        margin-bottom: 50px;
    }

    .about-us__stages-list li {
        font-size: 18px;
    }

    .about-us__title {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .about-us__features-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 auto;
    }

    .about-us__stages-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .about-us {
        padding-bottom: 0;
    }
}

.consulting {
    background-image: url("../img/consulting.jpg");
    background-size: cover;
    background-position: top;
    color: #6d6d6d;
}

.consulting__title {
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.contacts__title {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 64px 0 0;
    color: #828282;
}

.consulting__text {
    font-size: 18px;
    text-align: center;
    max-width: 922px;
    margin: 25px auto;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 40px;
}

.consulting__btn {
    margin: 30px auto 40px;
    padding: 14px;
    font-size: 16px;
}

.calc-block__title {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #828282;
    text-align: center;
}

.calc-block__text {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #828282;
}

.contacts__map {
    width: 100%;
    height: 300px;
}

@media (min-width: 768px) {
    .contacts__map {
        width: 100%;
        height: 450px;
    }

    .contacts__wr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 20px 0;
    }

    .support {
        width: 100%;
        max-width: 40%;
        margin: 60px 0 0;
    }

    .contacts__map-wr {
        max-width: 50%;
        width: 100%;
    }

    .consulting__title {
        font-size: 32px;
        margin-bottom: 60px;
    }

    .consulting__text {
        font-size: 24px;
        line-height: 44px;
        margin-bottom: 50px;
    }

    .consulting__btn {
        margin: 116px auto 50px;
        padding: 22px 42px;
        font-size: 24px;: 1 px;
    }

    .calc-block__text {
        font-size: 18px;
    }
}

.main-footer {
    background: #d0d0d0;
}

.main-footer__wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 30px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    max-width: 1400px;
    margin: 0 auto;
}

.main-footer a {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .main-footer__wr {
        padding: 20px 50px;
    }
}

.popup {
    display: none;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
    width: 300px;
    min-height: 220px;
    padding: 20px;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    z-index: 40;
}

.popup p {
    text-align: center;
    color: #71b6c3;
    text-transform: uppercase;
    font-weight: 700;
}

.popup label {
    display: block;
    margin-bottom: 5px;
}

.popup input {
    width: 100%;
    height: 34px;
    border: 1px solid #afafaf;

}

.popup__btn {
    position: absolute;
    width: 140px;
    padding: 8px 0;
    bottom: 20px;
    left: calc(50% - 70px);
}

.popup__color {
    display: none;
    width: 100%;
    height: 100%;
    background: #ffffffc4;
    position: fixed;
    top: 0;
    z-index: 30;
}